<div class="template_forms">



    <div class="menu">


        <span>Template Forms</span>


    </div>


    <div class="forms">

        <form #form="ngForm"  (ngSubmit)="onSubmit()">


            <h1>Login</h1>


            <input type="text" placeholder="Enter email" ngModel name="email" email required #email ="ngModel">



            <div class="errors">


                <span *ngIf="!email.valid && email.touched">Enter a valid email</span>

            </div>


            <input type="password" placeholder="Enter password" ngModel name="password" required #password ="ngModel">

            <div class="errors">


                <span *ngIf="!password.valid && password.touched">Enter a valid password</span>

            </div>

            <button [disabled]="!form.valid">Login</button>


            
            



        </form>


    </div>
</div>
